.baseShadow {
  box-shadow: 0px 1px 2px -1px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0px 1px 2px -1px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 1px 2px -1px rgba(0, 0, 0, 0.5);
  -o-box-shadow: 0px 1px 2px -1px rgba(0, 0, 0, 0.5);
}